@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans Ethiopic", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#f8f9fa] text-slate-900;
  }
}

.markdown-body {
  @apply text-sm leading-relaxed;
}

.markdown-body p {
  @apply mb-4 last:mb-0;
}

.markdown-body ul, .markdown-body ol {
  @apply mb-4 ml-4 list-disc;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3 {
  @apply font-bold mb-2;
}
